[2015-07-31 08:03] bronson opened #1 "Auto-detect header?"
I'm not quite sure how you would detect it but, if it has one, displaying the CSV's header would be nice.

Maybe add a pencil-everything button that would copy everything in row 1 into the A/B/C/D header displayed now?

And maybe if there are columns that are 100% digits except for the first row, you could just do this automatically?

<img width="763" alt="screen shot 2015-07-31 at 12 59 30 am" sr

[2015-07-31 08:14] bronson opened #2 "Quickly switch to text mode and back"
Feature request: I'd like to be able to quickly switch to text mode, leaving my cursors where they are, make some complex edits, and switch back to table mode when I'm done.

This might help out before some other editing features land (insert/delete rows, copy/paste, etc.  Pasting seems tough to do well).

[2015-07-31 08:27] bronson commented on #2
This seems similar to `grammar-selector:show` (ctrl-shift-L) but I'm not sure it's similar enough to actually use.

[2015-07-31 08:38] bronson opened #3 "Disabling this package destroys the tab bar"
In the gif, first I open a csv to show that everything is working.

Then I disable table-edit and show the CSV again.  It shows some dark-on-dark unstyled markup.

Then, when I click on the csv's tab, the whole tab bar disappears.  Need to restart Atom to fix it.

![bug3](https://cloud.githubusercontent.com/assets/1776/9003603/2ec4382e-3724-11e5-97cb-17529eaeafff.gif)

[2015-07-31 09:44] abe33 commented on #3
Hi, thanks for the feedback, that's clearly a use case I haven't covered yet, one more item in the TODO ;)

[2015-07-31 09:45] bronson commented on #3
I was hoping it would be a quick way to get #2.  :)

[2015-07-31 09:53] abe33 commented on #2
That's an interesting idea, for the moment, I made the switch in the opener to avoid having to synchronize the text version with the table model everytime a change is made, actually opening the text mode destroys the table view and replace it with a text editor. But I was planning to add a switch command to change the mode after having opening either in text or table mode.
Keeping the cursors is a

[2015-07-31 09:55] abe33 commented on #1
I made some research prior to implementing the csv support and it appears there's no reliable way to detect if a csv file has a header or not. What I can do though, is to have a command to use the first row as header after having opened the table, so that you can fix that if you have forgot to active the setting when opening the file.

[2015-07-31 10:26] bronson commented on #1
That sounds like a fine solution.

Activate what setting when opening the file?  A setting when opening with fuzzy-finder?

[2015-07-31 11:39] abe33 commented on #1
When you open a csv (whatever the mean) there's the initial dialog when you can define the parsing setting:
![sample_csv_-__users_c_nehemie_gsoi_newho_vendor_gsoi_style-framework_-_atom](https://cloud.githubusercontent.com/assets/247140/9006558/0504e38e-3789-11e5-9102-2682f072dd47.png)

These settings are kept and serialized for later use. But if you have checked the `Remember my choice` checkbox

[2015-08-02 22:50] #3 closed

[2015-08-27 18:23] rugk opened #4 "Is it already released?"
Just asking this because I can't find it:
![tableedit](https://cloud.githubusercontent.com/assets/11966684/9529252/8e027f9a-4cf9-11e5-9468-8245fa1288a7.PNG)

[2015-08-28 09:55] abe33 commented on #4
Nope, I still haven't published it yet.
It gets closer and closer to the point I can release it, but I lacked time to make sure things are polished enough before making it available publicly.
I plan to use the next week to work on my various packages and this one is part of the TODO.

[2015-09-24 07:26] abe33 commented on #4
Now it is :)

[2015-09-24 07:26] #4 closed

[2015-09-26 10:26] rugk opened #5 "No cross cursor on scrollbars"
On the scrollbars there should not be displayed the cross cursor, but just the normal one:
![scrollbarcursor](https://cloud.githubusercontent.com/assets/11966684/10117060/c5444e9a-6449-11e5-9709-60fb6f6ae970.png)

[2015-09-26 10:29] rugk opened #6 "The overlap for too long text should not be transparent"
![toolongtext](https://cloud.githubusercontent.com/assets/11966684/10117070/23a0b10e-644a-11e5-8b39-2e9b10cf31ce.png)

I think it's not that nice that you see the text at the background too, so you cannot easily read the text you actually want to see.
I think the 'overlap box' there should not be transparent.

[2015-09-28 16:18] abe33 commented on #6
Hi @rugk, thanks for the report.

I'm not sure about the cause as that's not the behavior I get on my computer (see below). Could you inspect the text editor when editing to see if there's a `height` style that apply to it. In my code I only use `min-width` and `min-height` to let the mini editor expand, but maybe there's some pollution from the theme you use (with one-dark and one-light I know it

[2015-09-28 16:21] abe33 commented on #5
Oh,right, I'll see how I can fix that, thanks for the report.

[2015-09-28 16:47] rugk opened #7 "Uncaught TypeError: target.getScreenColumnIndexAtPixelPosition is not a function"
[Enter steps to reproduce below:]

1. Right click on a cell with overflow (#6)

**Atom Version**: 1.0.19
**System**: Windows 7
**Thrown From**: [aligner](https://github.com/adrianlee44/atom-aligner) package, v0.16.2

### Stack Trace

Uncaught TypeError: target.getScreenColumnIndexAtPixelPosition is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-28 16:50] rugk commented on #6
Theme: UI: Atom Dark, Syntax: One Dark
System: Windows 7, Atom 1.0.19

![tablr 16](https://cloud.githubusercontent.com/assets/11966684/10142230/ad49acee-6611-11e5-8121-f6aef92496e3.PNG)
(the bar at the bottom is from [editor-stats](https://atom.io/packages/editor-stats))

[2015-09-28 21:42] abe33 commented on #5
Actually it seems the `cursor` property isn't honored on `:webkit-scrollbar` and derived selector. I'm not sure how to fix this but I'll try a few things before giving up.

[2015-09-28 21:43] #6 closed

[2015-09-28 21:43] #7 closed

[2015-09-29 14:24] rugk commented on #5
That's always a good idea... :wink:

[2015-09-29 16:25] #5 closed

[2015-09-29 16:26] abe33 commented on #5
Haha, it appears it was much more simple that I thought at first, as I already had a wrapper between the scroll container and the cells I just moved the `cursor: cell` one level deeper.

[2015-09-30 03:06] simurai opened #8 "Tab is not seamless"
Not a major issue, but when using One dark with a light theme, the tab is not seamless:

![screen shot 2015-09-30 at 11 17 26 am](https://cloud.githubusercontent.com/assets/378023/10182900/f85a915e-6764-11e5-929d-b6cda2809d31.png)

The problem is that if the `type` includes the word "Editor", the One themes will use the `@syntax-background-color` as the tab color. So that the tab looks seamless wi

[2015-09-30 04:20] simurai opened #9 "Button labels can be hard to read"
When using:

- UI theme: One Dark
- Syntax theme: Solarized Light

the labels of the selected buttons are hard to read (white on yellow):

![screen shot 2015-09-30 at 12 15 46 pm](https://cloud.githubusercontent.com/assets/378023/10183648/0dcc3c56-676d-11e5-9e7e-b39f755aa8fd.png)

The `@button-background-color-selected` + `@text-color-selected` combo [here](https://github.com/abe33/atom-tablr/blob

[2015-09-30 14:35] abe33 commented on #9
I tried the `contrast` tricks, it looks like it could work, I'll make more testing with different ui themes to make sure.

[2015-09-30 14:48] abe33 commented on #8
I've started working on this in this branch: https://github.com/abe33/atom-tablr/tree/cn-style-table-using-syntax

The table view works well, minus the contrast between the gutter/header and the cells that is no longer present (there isn't many background colors as with the ui themes).

Now the thing is that the form part before the table editor still doesn't adapt to the tab background (actually

[2015-09-30 15:01] abe33 commented on #8
This is what I get now, looks legible enough to me, what do you think?

![banners_and_alerts_et_sample_csv_-__users_c_nehemie_github_tablr_-_atom](https://cloud.githubusercontent.com/assets/247140/10196776/dfae7172-6794-11e5-8456-5d96cb16e49e.png)

[2015-09-30 15:31] t0str opened #10 "Text size too small"
Having a HiDPI screen, I can barely read the text in the table-view (i.e. the cells). If I double click a cell, I get my usual font in the usual size an all is fine. Presumably there is a way to set this in styles.less, but I was not able to find which class I had to adapt (I'm not really a css guy).

A setting for Font & Size would be very nice, but if you can tell me which css class I have to se

[2015-09-30 17:15] abe33 commented on #10
Thanks for the report, I didn't thought much about these use case until now but I'll definitely try to provide a solution for that too. Would you mind sharing a screenshot of what you get so that I can an idea of the problem while I think to a solution?

[2015-10-01 06:20] simurai commented on #8
Ya, I think it's fine. Probably not that many people use a dark/light combo.

[2015-10-01 06:55] t0str commented on #10
Sure, here you go.

* This is your table-view:
![atom_1](https://cloud.githubusercontent.com/assets/231959/10214501/13931590-6819-11e5-877d-7c45cb847121.png)

* This is the same file in plain text (size difference)
![atom_2](https://cloud.githubusercontent.com/assets/231959/10214503/1de9087e-6819-11e5-8a99-5517609f919c.png)

* This is the dialog to choose table/text editor, here the fontsize seems

[2015-10-01 07:29] abe33 commented on #10
@t0str thank you for that :bow:, one last question, can you tell me what `devicePixelRatio` value is reported in Atom?

As far as I can tell there's two issues here, the font-size which is too small, but also the column width and row heigh settings that are not scaled properly. I'll take a look at both issues soon.

[2015-10-01 07:52] t0str commented on #10
@abe33 Assuming this is the correct way of obtaining the value: 1
(I opened Debugger Tools and entered console.log(devicePixelRatio))

[2015-10-01 08:21] abe33 commented on #10
Yes, that's the way, thanks. I think I have enough information now, I'll update as soon as I have a solution for that.

[2015-10-01 12:12] abe33 commented on #10
@t0str I just published a version where all the font-size use ems instead of pixels. It should fix the font scale issue. Let me know if things improved for you.

As for the columns width and row height, I suggest you tweak the corresponding tablr settings to better fit your screen. I'll search for a better solution.

[2015-10-01 12:13] abe33 commented on #8
I just published a patch with these changes, I'll close the issue now. Anyway, thanks for the feedback and suggestions :).

[2015-10-01 12:13] #8 closed

[2015-10-01 13:06] t0str commented on #10
Thanks for your quick support! That's a massive improvement, I can set up the table to be readable.
![atom_5](https://cloud.githubusercontent.com/assets/231959/10221218/6ae0e924-684d-11e5-9622-de6646f70851.png)

However the tablr-dialog does suffer some damage :)
![atom_4](https://cloud.githubusercontent.com/assets/231959/10221236/7bd9e67c-684d-11e5-82f5-e130805412ed.png)

From looking at it, the

[2015-10-01 13:31] abe33 commented on #10
Oh right!, nice catch, actually I tried to improve the layout for larger screen, but removed a width limitation on the preview table, but I should have not. I'll fix that right away.

[2015-10-01 13:48] abe33 commented on #10
@t0str v0.2.4 should be better now :)

[2015-10-01 14:26] t0str commented on #10
@abe33 Thanks, looking good!

So the major problems are solved, and the width/height I can adjust manually. I even found the way to set my font in styles.less:
[code]

So thank you very much, this was amazing support!

[2015-10-01 14:26] #10 closed

[2015-10-20 14:12] adrean opened #11 "Support other file extensions"
That'd be great to support other file extensions (.tsv for example). Even greater if the user could specify the list of file extensions he wants in settings.
My workaround was to change the `return unless /\.csv$/.test uriToOpen` line in `lib/tablr.coffee` but this is overriden on updates.

Anyway, awesome work, I've been looking for a table editor for a while, yours is great!

[2015-10-21 09:12] abe33 commented on #11
Hi @adrean, thanks for the suggestion and the kind words, I'll add a setting for that with `csv` and `tsv` as default values. Do you know if there's other common extensions besides these two?

[2015-10-21 09:24] #11 closed

[2015-10-21 10:02] adrean commented on #11
Awesome, thanks!
I think `tsv` and `csv` are the more common file extensions for delimited data files :smile:

[2015-10-21 10:24] Samuel29 opened #12 "bogus display with more than 100 columns"
Hi . Generate a tsv with 150 columns, with ie. this shell command:
[code]
then open it with Atom: in the tablr wizard, choose "\t" as field separator then "open table editor"
scroll horizontally to the right.
At some point rendering becomes bogus, we don't see columns anymore, clicking on other columns doesn't seem to be working... scrolling with arrow keys seems to work, but nothing appears.
see

[2015-10-21 11:46] abe33 commented on #12
Hi @Samuel29, nice catch, seems like at some point the last visible column can no longer can be computed properly.

[2015-10-21 11:48] #12 closed

[2015-10-28 14:17] gampleman opened #14 "Persist sort"
Would be nice if hitting save would actually persist the sort I have on the table.

[2015-11-05 19:47] abe33 commented on #14
Hi @gampleman, sorry for the late reply, I saw your issue but was caught by some fixes required on the minimap.

When you say persisting the sort on save, do you mean saving the file on disk with the current sort applied or just storing the current sort so that tablr can reuses the same setting when opening the file again?

I ask this because I thought deeply about that when implementing the sort

[2015-11-05 19:47] #9 closed

[2015-11-05 22:50] gampleman commented on #14
I mean saving the file. I feel that changing the sort should make the file dirty and should have and undo support. So the actual saving should happen when the user hits the save command.

[2015-11-13 11:07] christiaan-lombard opened #15 "Uncaught TypeError: atom.project.open is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.0-beta2
**System**: Microsoft Windows 7 Ultimate
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v0.6.1

### Stack Trace

Uncaught TypeError: atom.project.open is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-13 11:17] christiaan-lombard commented on #15
Steps to reproduce:

  1. Open the CSV:

[code]

  2. Click 'OPEN TEXT EDITOR'

[2015-11-13 14:18] abe33 commented on #15
Hi @christiaan-lombard, I had the fix prepared for some time but was not expecting v1.2.0 to be released this soon. v0.6.3 should address this issue.

[2015-11-13 15:53] havoc74 commented on #15
First, I'd like to say that I love this package and use it quite often!

I upgraded to v0.6.3 and the problem persists:

[Enter steps to reproduce below:]

1. Open any CSV
2. Click "Open Text Editor"

**Atom Version**: 1.2.0
**System**: Microsoft Windows 7 Professional
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v0.6.3

### Stack Trace

Uncaught TypeError: atom.project.o

[2015-11-13 16:48] abe33 commented on #15
Hmm, I may have overlooked something, the tests are green and this case is covered, and I don't reproduce this on stable. Do you still get it after an update (I believe it's again an issue with custom elements that are not updated with the rest of the package)

[2015-11-13 18:04] havoc74 commented on #15
I will update and test again, maybe shutting down Atom will work as well.
I'll get back to you as soon as I have a chance to test again.

Thank You.
On Nov 13, 2015 12:13 PM, "Cédric Néhémie" <notifications@github.com> wrote:

[2015-11-18 16:44] havoc74 commented on #15
I am very sorry, I have not had a chance to test this again and noticed that v0.7,0 was available. So I've updated and can confirm that this bug can no longer be reproduced.
Thank you @abe33 :)

[2015-11-18 17:07] Ninja-1 opened #16 "Uncaught TypeError: Cannot read property 'name' of undefined"
[Enter steps to reproduce below:]

1. Select field
2. Change value
3. Press enter

**Atom Version**: 1.2.1
**System**: Microsoft Windows 10 Home
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v0.7.0

### Stack Trace

Uncaught TypeError: Cannot read property 'name' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-18 18:12] abe33 commented on #16
Hi @Ninja-1, thanks for the report, looks like you're right, I also get errors when editing columns' name but still don't have the reason why. I'll take a deeper look at this later on.

[2015-11-24 20:07] pamtbaau opened #17 "Feauture request: Toggle column to widest containing value"
Would be nice if a column or all columns could be toggled to be narrow or be as wide as the widest value in the column.

Great tool by the way. Worked for long time with Notepad++ on csv's but not to my delight...

[2015-11-24 20:31] #15 closed

[2015-11-24 20:32] #16 closed

[2015-11-25 09:10] abe33 commented on #17
By toggled, do you mean something like a one time operation, or more like a state that force the resize of the column whenever a value is changed?

Initially I thought of making the cells fits their content, but I feared the cost was just too great, so I dropped the idea. Looking at other editors (Numbers, Libre Office, Spreadsheet), it appears they don't automatically resize rows and columns eith

[2015-11-25 09:12] abe33 commented on #14
Hi, I'll have some time to implement something for this, what do ou think of having a button next to the column edit action to apply the current sort on the table? This button would only be available if a sort is applied.

[2015-11-25 09:37] pamtbaau commented on #17
Have a look at LibreOffice Calc and double click the column separator between the titles of the columns...

A double click on the right side separator of a column will either expand the column to its max. width or will contract it to its max. width.
My preference would be that if width has been set manually, contraction to its set width would be nicer I think.

This is what I would call toggling.

[2015-11-25 09:42] gampleman commented on #14
Sounds ok to me.

[2015-11-25 11:21] abe33 commented on #17
Oh! I didn't know that trick, seems nice. So it's like I thought, a one time operation (its not automatically resizing the column when a value in a cell is changed). I'll probably make a command for that and bind that command to a double click on the resizer.

Yep, because doing so in a browser mean measuring every cell and hitting the DOM every time (which is slow). Also, in Tablr I don't render

[2015-11-26 21:03] #14 closed

[2015-11-26 21:03] #17 closed

[2015-11-26 21:18] pamtbaau commented on #17
It works beautifully... Thanks!

[2015-11-26 21:23] pamtbaau opened #18 "Failure to open csv containing columns with embedded quotes"
The csv-configuration screen gives an error when quotes are embedded and opening is blocked.

"2015-11-26","An account with a "quoted" name","231.50"

[2015-11-26 23:16] abe33 commented on #18
It looks like a known issue in `csv` (the underlying node module used to parse CSV): https://github.com/wdavidw/node-csv/issues/20
But the issue is quite old and didn't much evolved since then.

I'll take a look to see how hard it'll be to implement a fix, but even then, there's no guarantee that the fix will be available any time soon.

If you have a few occurrences like this it would probably be

[2015-11-27 07:19] pamtbaau commented on #18
I tried to open a csv download from my bank. A few memo/description fields contained company names with double quotes which were not properly escaped in the download.

I had to deal with it myself when I wrote a Python app to convert downloaded transactions into OFX format for uploading into Money or GNUcash

The failing transactions are before 2006 though... It's probably not with worth investing

[2015-11-27 07:19] #18 closed

[2015-11-30 23:44] abe33 opened #19 "Prevent choice of column alignment in gutter context menu"
When activated it raises the following error:
[code]

[2015-11-30 23:45] abe33 opened #20 "Add fit row height to content in gutter cells context menu"

[2015-11-30 23:46] abe33 opened #21 "Add commands to clean layout and saved choice"

[2015-12-01 14:59] #19 closed

[2015-12-01 23:31] #20 closed

[2015-12-01 23:31] #21 closed

[2015-12-25 02:03] sekitaka opened #22 "Could I change encoding ?"
Hello,
Thanks for your amazing product.

I have a question.
Can I change encoding on tablr?
I'd like to use ShiftJIS.

thank you.

[2016-01-03 12:27] abe33 commented on #22
Hi @sekitaka, thanks for the suggestion!

I haven't really thought about it at first, but it looks like a must have feature. I'll try to find some time for work on this.

[2016-01-05 10:18] p0la opened #23 "Can't undo sorting"
Hello, Thanks for the good work!

When clicking on a column name (say column F), the array will be sorted based on the content of this column, but the file is not considered modified by atom (no modified blue dot indicator in the tab selector) and the undo operation is not working (Ctrl Z does notthing).

Thanks a lot.

[2016-01-05 10:28] p0la opened #24 "Change column ordering"
Hi

Thanks again for the work. It's very useful.

A new feature that would be great would be the ability to modify column or line position.

Maybe I missed it but I couldn't find a way to invert column 2 and 3 for example.

I guess the best interface would be something a la Excel where you can Drag and Drop column header (will conflict with ordering though). It also what stuff like ExtJs does: htt

[2016-01-05 10:50] abe33 commented on #23
That's because the table was not actually modified, it's just a change in the display, if you continue to click on the header cell you will cycle through the different sort (ascending, descending and then no sort again).

As there's no changes in the model there's no action to undo. However, if you apply the sort using the corresponding button then the model will have been changed and the undo wil

[2016-01-05 10:54] abe33 commented on #24
Hmm, you're right, I've missed that, I'll add it to my TODO. Thanks for the suggestion.

[2016-01-05 11:02] p0la opened #25 "insert / delete column"
Would be very useful.

Most tableur uses "Ctrl -" as shortcut to delete selected row or selected column.

If you decide to do this, supper useful standard shortcut would also be:
"Shift Space": Select row
"Ctrl Space": Select column

I'm under the impression that those a re quite standard (Excel pushing the standard ?). Not sure about mac conventions though..

[2016-01-05 11:07] p0la commented on #23
Thanks for the fast answer.
That helps a lot.

[2016-01-05 11:13] p0la commented on #25
ok, my bad. Found it in your cheat sheet.

Short cut don't seem to work for me but I can certainly live with the command.

Thanks

[2016-01-05 14:11] abe33 commented on #25
You can still change the keybinding if you find something more convenient.
The principle is the same than for splitting panes, meaning you first press <kbd>cmd-shift-n</kbd> (or <kbd>ctrl-shift-n</kbd> for win/linux) then you release and press a direction. Same thing for deletion with a different base shortcut.

[2016-01-05 14:16] abe33 commented on #23
Can I close the issue then?

[2016-01-05 17:56] cjolly commented on #2
:+1: I've run into a few situations having the ability to toggle between text and table view would be helpful, too. Clearing the storage for all previous docs I've opened is just a little heavy handed most of the time.

Thanks for the plugin, @abe33, it's saved tons of time and a bunch of temporary google docs!

[2016-01-06 01:50] p0la commented on #23
Sure.
Thx again

[2016-01-06 08:27] #23 closed

[2016-01-06 08:41] abe33 commented on #2
Hi @cjolly, I really need to take the time to dig this feat to make it efficient even with huge csv files, but maybe I can start with a naive implementation and we'll see what need to improved. Anyway, thanks for the reminder.

[2016-01-13 10:31] lokifacio opened #26 "Display only first N elments on table preview"
I think it would be very useful, specially for big files, to display only some rows of the table in order to configure or decide if you really want to load the whole file.

Do you think this is possible or you already get the file buffered when your plugin is invoked?

Great work anyway.

[2016-01-13 11:40] abe33 commented on #26
I was doing that in the first versions, but I dropped it at some point given that it was leading to more errors than I thought it would. For instance, if you have an escaped character after the last preview line you won't see any issue in the preview, but you won't be able to open the file as you'll have to specify the proper escape character.

I could probably reintroduce it behind a setting as y

[2016-01-13 12:20] lokifacio commented on #26
If that happens you won't be able to open it anyway. I think it would be clearer if you just display an error message and revert to normal mode in that case .

Adding an option is a good compromise anyway.

[2016-01-13 16:32] #25 closed

[2016-01-14 14:10] pi3rre opened #27 "Ignores cells after #"
I think it considers the rest of the line as comment, even though it is a valid entry for my table, eg:
A,#1,3
2,B,4
Is '#' considered special character in csv files?
Thanks for this package anyway!

[2016-01-14 23:24] abe33 commented on #27
That's the default, yes, but you can change it using the corresponding field in the opening form:

![sample_csv_-_spec_fixtures_ __users_cedric_github_tablr](https://cloud.githubusercontent.com/assets/247140/12340862/d05abb36-bb1d-11e5-8244-f188419d71aa.png)

If you just want to disable it, select `custom` and leave the input field empty. I think it'll deserve a specific option in the button group

[2016-01-14 23:44] pi3rre commented on #27
Ok, thanks. But how do I get to see the opening form again if already chose the table format and saved the choice for future openings?

[2016-01-15 08:46] abe33 commented on #27
Right, I haven't implemented anything for this specific use case (clearing the choice of opening in a table or a text editor).
You can still use the `Tablr: Clear csv storage` command. It'll get rid of everything that was stored for csv files (even the config for each file, so you'll have to make the setup again).

[2016-01-15 13:15] abe33 commented on #26
So, I started looking at how I could do it again, but i face a serious issue for the moment. I'm now supporting the whole list of encoding supported by a text editor, but that implied to use the Atom's `File` object. But that object doesn't provide any means to get a read stream of the file. So if I want to show only the 5 first rows I'll still have to read and parse the whole file (with a stream

[2016-01-15 14:13] #24 closed

[2016-01-15 23:37] abe33 commented on #22
I have implemented a first version in 0.10, let me know if you see any improvement to make.

[2016-01-15 23:37] #22 closed

[2016-01-16 20:41] sekitaka commented on #22
Hello @abe33.
Thank you a lot!
I have used new version, and I can edit ShiftJIS files.

Thanks again;)

[2016-01-27 12:45] Xevib opened #28 "Add default column delimitator as a configuration field"
It will be great to be able to change the default column delimitator on the settings tab

[2016-01-27 18:18] abe33 commented on #28
Hi @Xevib, thanks for the suggestion, it makes perfectly sense, I think I'll even add one for every other setting as well.

[2016-02-03 00:05] #28 closed

[2016-02-03 09:51] abe33 commented on #27
I added two more commands to clear the choices and the layouts separetely. I think I can close this issue then.

[2016-02-03 09:51] #27 closed

[2016-02-04 10:30] nidomiro opened #29 "File ending is checked case sensitive"
I wondered why my .CSV files always open in text mode. Then I renamed it to .csv and it worked as it should.
Is it possible to check the ending case insensitive?

Thanks

[2016-02-04 15:33] abe33 commented on #29
Yes, of course, I'll add that in the next release, for the time being you can add `CSV` in the 'Supported Csv Extensions` setting.

[2016-02-15 07:57] sylistine opened #31 "Crash on preview of large files"
Unfortunately I can't provide a sample CSV (the ones I'm working with are under lock and key and I don't have time to prepare new ones), but I have some CSVs that are inordinately large (2.5mb) that have a pretty hefty number of columns as well as just sheer length.

tablr crashes atom while generating a preview. I don't even have the chance to open it as a regular text file =/

[2016-02-15 07:59] sylistine commented on #31
After a short wait, a csv of about half size (1.25mb) generates the preview alright. Obviously changing options causes another wait of about 30seconds.

Otherwise I love this package. Looking forward to updates.

[2016-02-19 12:45] maxlarsen opened #33 "Unknown symbol in all cells"
In all the .csv files I open, everything works perfectly but I always have these symbols (like three dots in a light grey box) that I can't make sense of:
![selection_015](https://cloud.githubusercontent.com/assets/16719582/13175974/6bfd5fa6-d6dc-11e5-835c-6d56efbcfbc9.png)

[2016-02-19 13:03] abe33 commented on #33
Hi @maxlarsen, it's to indicates than the content of the cell is bigger than the cell and that a part of it maybe hidden (hence the ellipsis). Since CSS `text-ellipsis` property doesn't work on multiline text I had to find a workaround.

Are you by chance on a windows computer? I have found that measuring the cell's content was not as sharp on windows than on OSX and linux.

[2016-02-19 13:26] maxlarsen commented on #33
Hi, thanks for your answer. I am on ubuntu and the file is a very plain csv like so:

[code]

In particular, in the screenshot above, the content is not bigger, I am seeing everything.

[2016-02-19 14:06] abe33 commented on #33
Ok, looks like there's a problem, sometime it can be just triggered by the line height of the cell which is bigger than the cell's height, but I'll have to look for a better way of handling that case.

[2016-03-15 17:07] k0pernikus commented on #31
I have to second that. I have a 32MB csv file that has a delimiter `|`, and I can't even go past the selection of my custom delimiter. Once select the field, one CPU is at 100%, and after a while it just crashes.

![selection_166](https://cloud.githubusercontent.com/assets/436935/13786588/a67de69a-ead8-11e5-81f8-e332bd0a8c0c.png)

Alas, I cannot provide the csv file.

[2016-03-18 15:08] awagner83 commented on #33
I am seeing this same issue as well, and I am running OSX.  It's especially distracting with a light background.  For now I've just tinkered with the css to get the "after" content to go away.

[2016-03-22 15:20] nmccready commented on #31
This might be a current limitation of Atom.io as atom is slow as heck on large files. It would be great if they could fix this issue. It should be possible as vscode (MSFT) does not seem to have large file problems.

[2016-03-24 23:20] #29 closed

[2016-03-24 23:20] #33 closed

[2016-03-28 09:54] pkirkovsky opened #34 "No search/replace in table mode?"
It seems that Atom's built-in search/replace mechanism doesn't work in table mode. This would be a really handy feature to have, since it makes modifying entire columns of data a snap (especially with regular expressions).

Is this a known limitation or am I doing something wrong?

[2016-03-29 09:05] abe33 commented on #34
Hi @pkirkovsky

You're not doing something wrong, the issue is that find and replace only works with text editors. As I [wrote on discuss](https://discuss.atom.io/t/how-can-i-make-my-view-text-searchable/27052/6?u=abe) I would love to reuse the find and replace UI instead of having to build my own, but I fear this won't happen in a near futur. But it's definitely on my roadmap.

[2016-03-30 05:27] benogle opened #35 "It assumes the max number of columns is based on the first row"
Consider the following csv:

[code]

It opens with only one column!

Anyway, great package. Getting a lot of use out of it. :+1:

[2016-03-31 10:58] abe33 commented on #35
Hi @benogle, nice to see you here and thanks for the report!

I'll be fixing that soon as it's a simple error on my side.

[2016-03-31 14:08] #35 closed

[2016-03-31 15:08] abe33 commented on #31
I started working on it, I plan to using stream for both the preview and the opening of the file (so that I can add a progress indicator on opening) and limiting the preview size to a value specified through a setting. So far it looks promising, I could open a 8MB file without having the preview making trouble, so I think the biggest problem was the generation of the preview table in @sylistine ca

[2016-03-31 18:19] StefanoCecere opened #36 "Uncaught TypeError: Cannot read property 'getCursors' of null"
when i edit a cell, and press enter to close it..
the value gets saved anyway.. but i get this red Error

-------

**Atom Version**: 1.6.1
**System**: Mac OS X 10.11.4
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.1.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getCursors' of null

[code]

[2016-04-06 17:11] dberansky opened #37 "deleting columns"
There doesn't seem to be a way to remove the entire column.  Would be nice to have this functionality.

[2016-04-07 07:56] abe33 commented on #37
Hi @dberansky, did you take a look at the [cheatsheet](https://github.com/abe33/atom-tablr/blob/master/docs/cheatsheet.md)? You'll see there's a `tablr:delete-column`  command for that purpose.

[2016-04-08 11:35] ArturLange opened #38 "Empty csv freeze"
For me it freezes atom, when I'm trying to open an empty csv.
Disabling plugin fixes this

[2016-04-11 08:04] abe33 commented on #38
Thanks for the report, I can confirm it. I'll patch that soon!

[2016-04-11 15:02] #38 closed

[2016-04-11 22:20] #37 closed

[2016-04-13 20:45] #26 closed

[2016-04-13 20:53] abe33 commented on #31
FYI version 1.2.0 was 🚢 with the new stream-based CSV open, there's still probably some bottleneck here and there (like the save routine that is still synchronous) but I think that for the most part it's now usable with big files. Let me know if you still get crashes or big hangup when manipulating such files.

[2016-04-14 16:23] JeremyLC opened #40 "1.2.1 update fails."
Atom 1.7.0
Windows 10 Professional, 1511 Build 10586
I also experienced the same failure on Windows Server 2012 R2.

1.1.2 worked fine, but the 1.2.1 update fails to install with the following output:

[code]

[2016-04-14 20:52] benbalter commented on #40
Getting a similar failure on OS X.

[2016-04-14 21:09] abe33 commented on #40
Hi there, sorry for the inconvenience, I was waiting for Atom to ship `pathwatcher` in version 6.5 but it still stuck to 6.2 (it's the package that provide the file model used in Atom, and latest version includes a stream API). I guess I'll have to include the stream method in tablr directly to avoid having `runas` as a deep dependency.

[2016-04-14 21:19] #40 closed

[2016-04-16 20:17] spencerthayer opened #41 "Uncaught Error: Quoted field not terminated at line 218"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.1
**System**: Mac OS X 10.10.5
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.2.2

### Stack Trace

Uncaught Error: Quoted field not terminated at line 218

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-20 16:06] macgyver opened #42 "Cells only update after moving focus away"
First of all, I just want to say how cool I think this project is. Things like this are exactly what is great about Atom.

I found one tiny little bug which is that after editing a cell you have move the cursor away from the cell before you see the updated value:
![tablr-cell-update](https://cloud.githubusercontent.com/assets/1163/14681714/50888644-06f0-11e6-83b5-e0f0b5d55293.gif)

[2016-04-21 08:11] abe33 commented on #42
Hi @macgyver (quite the nice username you have!)

Could you tell me a bit more about your config because I don't reproduce that?
I have some tests for that specific update so there might be something else since the CI is all green: https://github.com/abe33/atom-tablr/blob/master/spec/table-element-spec.coffee#L1817-L1834

![tablr-edit](https://cloud.githubusercontent.com/assets/247140/14702106/faa

[2016-04-21 16:01] macgyver commented on #42
I'm using the One Light ui and syntax theme. Here's the list of my community packages:
[code]

Is there anything else that would be helpful?

[2016-04-23 05:22] rayk opened #43 "Uncaught Error: Quoted field not terminated at line 1439"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.2
**System**: Mac OS X 10.11.4
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.2.2

### Stack Trace

Uncaught Error: Quoted field not terminated at line 1439

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-23 08:15] rayk opened #44 "Uncaught Error: Quoted field not terminated at line 1451"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.2
**System**: Mac OS X 10.11.4
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.2.2

### Stack Trace

Uncaught Error: Quoted field not terminated at line 1451

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-25 13:08] jneuendorf opened #45 "Settings panel shows up for *.coffee file"
Hi,

I have a file named "CSVExporter.coffee". When I open it from the tree view the settings panel opens up and asks which editor to use (table or text).
Choosing the text editor and editing the file works normally but I didn't want to get asked in the first place.
Maybe this is related to the file name that contains "csv"?
I couldn't find anything that causes the problem quickly so I hope you ca

[2016-04-26 22:50] malsmith-cs opened #46 "Uncaught Error: Quoted field not terminated at line 575"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.2
**System**: Mac OS X 10.11.4
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.2.2

### Stack Trace

Uncaught Error: Quoted field not terminated at line 575

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-27 15:09] bnn-y opened #47 "Uncaught Error: Quoted field not terminated at line 162"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.7.2
**System**: Mac OS X 10.11.4
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.2.2

### Stack Trace

Uncaught Error: Quoted field not terminated at line 162

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-28 01:36] sahina opened #48 "Uncaught Error: Number of columns is inconsistent on line 104"
This is a valid CSV file, at least from what I can see opening it in numbers.

**Atom Version**: 1.7.2
**System**: Mac OS X 10.11.4
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.2.2

### Stack Trace

Uncaught Error: Number of columns is inconsistent on line 104

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-04-28 09:43] abe33 commented on #48
Hi @sahina,

I'm not able to reproduce that even with a file with completely random row length. Could share with me a file that triggers this error?

[2016-04-28 09:45] #41 closed

[2016-04-28 09:45] #43 closed

[2016-04-28 09:45] #44 closed

[2016-04-28 09:45] #46 closed

[2016-04-28 09:45] #47 closed

[2016-05-01 09:45] ruget opened #49 "First preview of the parsed CSV has an error when default Header property is activated"
In Tblr setting, change de fault header property:
![image](https://cloud.githubusercontent.com/assets/11539705/14941111/b455d05c-0f90-11e6-8dd1-cec93cea963c.png)

Next, open a new csv file. You'll see the **Header** property selected as expected.
But I get an error in the **Preview of the parsed CSV**
![image](https://cloud.githubusercontent.com/assets/11539705/14941098/4ddf58c0-0f90-11e6-80b7-778

[2016-05-02 10:19] abe33 commented on #49
Hi @ruget, thanks for the detailed explanation, would you mind sharing a sample file with me? I would like to be sure I have the same data to reproduce the issue.

[2016-05-02 15:42] esjay opened #50 "Failed to load the tablr package"
1. Choose the [Seti UI theme](https://atom.io/themes/seti-ui)
2. Receive stack trace error.

**Atom Version**: 1.7.3
**System**: Mac OS X 10.11.4
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.2.3

### Stack Trace

Failed to load the tablr package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-05-02 19:02] esjay commented on #50
Updated issue to note that [Seti UI theme](https://atom.io/themes/seti-ui) seems to be a necessary step in recreating this specific issue.

[2016-05-03 06:00] ruget commented on #49
Hi @abe33,

Here the file:
[LeakageRatioByReaderV1.csv.zip](https://github.com/abe33/atom-tablr/files/246361/LeakageRatioByReaderV1.csv.zip)

Thanks for tablr, this is a nice tool and I use it to have a quick overview of csv files 👍

[2016-05-03 07:50] abe33 commented on #50
Hi @esjay,

Yep, it looks like the Seti UI theme only define `button.btn` instead of just `.btn` which make the tablr unable to extend the button styles. I'll see if I can find a way around that, and open a ticket on Seti UI Theme to see if we can find a better solution.

[2016-05-06 13:36] NickyHeuperman opened #51 "Table view does not reflect changes"
When I edit a cell and confirm the change by pressing Enter the file is actually changed on save but has to be reloaded to reflect the change

[2016-05-06 13:37] NickyHeuperman commented on #51
This seems to fix itself when moving to another row

[2016-05-06 13:37] #51 closed

[2016-05-09 08:28] abe33 commented on #51
That's not the expected behaviour, and it looks a lot like#42 to me. I'm still unable to reproduce that locally so any information is useful at the time.

[2016-05-09 08:58] #45 closed

[2016-05-09 08:58] #48 closed

[2016-05-09 08:58] #49 closed

[2016-05-09 09:32] jneuendorf commented on #45
Thank you! :)

[2016-05-09 12:04] abe33 commented on #45
No pb :), I forgot to update the issue after releasing the patch

[2016-05-09 23:52] tnrich opened #52 "Number of columns is inconsistent error"
Hey there, I'm getting this issue:
![image](https://cloud.githubusercontent.com/assets/2730609/15131578/0b57d258-1606-11e6-9939-fb3b62286409.png)

Ideally I would be able to view data that isn't "well formatted".

Here's the raw data I was trying to view:

"Golden-gate j5 v2.8.4 assembly 4/19/2016"
"Please cite: Hillson, N.J., Rosengarten, R.D., and Keasling J.D. (2012) j5 DNA Assembly Design Auto

[2016-05-10 07:43] abe33 commented on #50
Since my PR on Seti UI was merged and published, I'll be closing that issue, feel free to open a new issue if you find another problem with a theme.

[2016-05-10 07:43] #50 closed

[2016-05-13 10:21] Orcomp commented on #2
Being able to switch modes quickly would be great but also being able to have a split screen with the top section being the table and the bottom section a normal text editor.

[2016-05-17 09:03] abe33 commented on #52
Hi @tnrich, sorry for the late reply, do you still get that error with the latest version? I should have fixed that in 1.3.0

[2016-05-17 17:24] tnrich commented on #52
I'll check it out, thanks!

On Tue, May 17, 2016 at 2:03 AM, Cédric Néhémie <notifications@github.com>
wrote:

[2016-05-17 17:44] tnrich commented on #52
Hey @abe33, thanks for the fix. It did work for the portion of the CSV I posted above. Here is the full csv that I'm actually trying to visualize which is still failing:

[code]

If you could help me view that in csv form I would be super grateful! I know the formatting is a little wonky, but I see no reason why it shouldn't be possible..

[2016-05-17 19:31] dapetcu21 opened #53 "Try to edit empty file"
[Enter steps to reproduce below:]

1. Create empty file
2. Open with tablr
3. Try to edit something

**Atom Version**: 1.7.3
**System**: Mac OS X 10.11.4
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.3.1

### Stack Trace

Uncaught TypeError: Cannot read property 'name' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-05-18 03:26] derwentx opened #54 "copy broken by newlines in cell"
hey there, what a beautiful plugin you have!
unfortunately, I can't use it for analysing a contact database as my address fields are exported from my contact database with newlines (out of my control) and although your parser handles these fields and places them in cells correctly, i can't copy out of the cells because the newlines aren't escaped correctly for either OSX numbers or Google Drive.

[2016-05-18 09:20] abe33 commented on #52
It looks like I have no problem opening it on the latest version:

![fr_rb_ __users_cedric_development_ruby_leclerc-es-v2](https://cloud.githubusercontent.com/assets/247140/15353543/df3021f4-1ce9-11e6-93c9-ae140a192fdb.png)

I'm using more or less the default config:

![test_csv_-__users_cedric_downloads_ __users_cedric_development_ruby_leclerc-es-v2](https://cloud.githubusercontent.com/assets/247

[2016-05-18 09:23] abe33 commented on #53
Hi @dapetcu21, thanks for the report, it's probably because there's no columns nor rows yet. I should probably at least create one when an edit attempt is made.

[2016-05-18 09:44] abe33 commented on #54
So that I understand correctly, what you want is to copy these string from Atom and paste them into Numbers/Google Drive but it fails due to the newline format?

[2016-05-18 18:59] tnrich commented on #52
I uninstalled and reinstalled tablr, but I am getting some strange behavior still even after updating. Basically I can't open it using tablr the first time I try, but then once I open it once, I'm able to open it using tablr all subsequent tries. Here's what's happening:

![tablr issue](https://cloud.githubusercontent.com/assets/2730609/15371347/d98bdf30-1cef-11e6-8a69-61f9c3cf628e.gif)

So it's a

[2016-05-19 08:27] abe33 commented on #52
Yeah it looks like a bug, thanks for taking the time to investigate and record this screencast. I should be able to reproduce with that much information.

[2016-05-19 08:59] derwentx commented on #54
what happens is that when it is pasted into the external program, it copies it as if there cell containing a newline broke the row, which i suspect is caused by incorrectly escaped newlines.

it should copy like this
[code]
but it copies like this instead

[code]

[2016-05-31 21:48] yufanyufan opened #55 "When choosing a cell, another random cell in the same column is also selected."

[2016-06-01 10:12] abe33 commented on #55
Hi @yufanyufan, can you record a gif of the issue and tell me which version of Atom and Tablr are you running?

[2016-06-03 19:40] bblack opened #56 "Loading tablr is slow"
Timecop routinely reports activation times of over a second for tablr. For example, of 79 packages, tablr is by far the slowest to activate. For some context, the slowest 6 for me on my most recent load (which looks typical) are:

[code]

Most packages take < 10 ms to activate.

[2016-06-29 15:21] sb80 opened #57 "Default column delimiter config not working"
Setting the default column delimiter to `\t` in the package settings.
On opening a CSV file, initial column delimiter is `,`, _not_ `\t`.

[2016-06-30 14:54] rafaskb opened #58 "Changes to new and/or empty files aren't saved"
Steps to reproduce the bug:

1. From Atom's Tree View, create a new file called test.csv.
2. Open it with Tablr's Table Editor.
3. Create a few rows and columns.
4. Save the file by hitting Cmd+S (or Ctrl+S).
5. Close the file.
6. Open the file (either with Table Editor or Text Editor). The file will be empty.

It seems that you need to make some changes in the text editor, like adding an empty co

[2016-06-30 18:05] rafaskb opened #59 "Text field bounds exceed screen limits"
When editing a cell to the right of the editor that has a lot of text, the text field exceeds the screen size, making it impossible to read its content.

![Screenshot](https://cloud.githubusercontent.com/assets/2331058/16498818/f2d3bdae-3ed3-11e6-9f79-a3aa0b45ae18.png)

Even if I enable the "Scroll Past End" option, the bug happens.

![Screenshot 2](https://cloud.githubusercontent.com/assets/23310

[2016-07-01 07:43] abe33 commented on #56
Hi @bblack, Yeah, that's still an issue for me as well, I don't really see how I can improve this given all the constraints due to serialization (given you can quit Atom with a CSV file open I have to load early everything needed in order to deserialize the data when the workspace is loaded).

[2016-07-01 07:44] abe33 commented on #57
Hi @sb80, Thanks for the report, I'll take a look at that this week-end.

[2016-07-01 07:45] abe33 commented on #58
Hi @rafaskb, thank you for reporting this, I'll have some time this week end to fix this.

[2016-07-01 07:47] abe33 commented on #59
Interesting case, it shouldn't be hard to clamp the editor's width to make sure it fits into the window.

[2016-07-05 13:40] julien-leclercq opened #60 "Problem with detection of semi-colon"
I need to read and edit csv with semi-colon as the separator, so I set semi-colon as the default separator.
But I need to toggle separator to comma and switch back to semi-colon on every file for tablr to correctly parse the file.

[2016-07-06 12:03] dnk8n commented on #42
I see the same. Ubuntu 12.04 (Default Unity DE) and 16.04 (Ubuntu Mate DE).

Atom 1.80
tablr 1.3.1 (default settings)

[2016-07-06 12:05] dnk8n commented on #1
Any plans to do the same for a row ID (as apposed to a column ID, aka Header)?

[2016-07-06 15:09] #53 closed

[2016-07-06 15:09] #57 closed

[2016-07-06 15:09] #58 closed

[2016-07-06 15:09] #59 closed

[2016-07-06 15:09] #60 closed

[2016-07-08 04:05] felixcheung commented on #56
Can it be delay-loaded while the workspace is loading?

[2016-07-13 16:08] obeid opened #61 "Recognize CSV files not using *.csv extension"
CSV files within a GTFS feed use the *.txt extension, I'm sure similar other scenarios exist. It would be beneficial to regonize files based on their content not extension.

Great extension otherwise 👍

[2016-07-18 07:01] abe33 commented on #61
Hi @obeid, You might want to add these extensions in the `supportedCsvExtensions` setting of the tablr package. It'll make tablr opens these files as CSV.

[2016-08-04 00:13] sashmackinnon commented on #36
I'm experiencing this a lot too, same conditions. It stops for a while after closing the app and then kicks back in.

[2016-08-09 15:59] Yajo opened #62 "Press TAB in last cell of last row to create a new line"
Creating new lines is quite common, and having to press Ctrl+Alt+N :arrow_down: is boring.

Great addon BTW, thanks a lot!

[2016-08-11 18:32] tnrich commented on #52
Hey @abe33 , I'm still seeing this issue for a lot of CSV's:
![image](https://cloud.githubusercontent.com/assets/2730609/17600195/3e9b62e2-5fb7-11e6-9d44-0f417aef9cdd.png)
Here's the data in question.
[code]

I would love to use tablr more often, but found I am often blocked from doing so..

[2016-08-11 18:36] tnrich commented on #56
Also @abe33 , why do you need to serialize anything on close? Shouldn't tablr be able to be opened from "first principles"?

[2016-08-19 19:53] zwiebelspaetzle commented on #2
Agreed.  This feature would be extremely helpful.

[2016-08-23 13:52] abe33 commented on #52
Hi @tnrich,

I'm not sure what happened, I don't reproduce it on the latest version:

![error_csv_-_spec_fixtures_ __users_cedric_github_tablr](https://cloud.githubusercontent.com/assets/247140/17894200/d76ebd26-6948-11e6-93a0-031287cdcf00.png)

I force node-csv to ignore inconsistent columns count errors with this option: https://github.com/abe33/atom-tablr/commit/6fc2bba1ad96eae688682f1ba1a24076

[2016-08-23 15:58] #61 closed

[2016-08-23 17:05] #62 closed

[2016-08-24 16:35] abe33 commented on #56
@tnrich The reason is that if you have any table editor open when quitting Atom you probably want it restored as it's done with the classical text editor. This is especially interesting if the editor has unsaved changes, so that you don't lose them when reopening Atom. Since table editors are pane items, they are serialized along with the workspace, and restored with the workspace as well.
The iss

[2016-08-25 13:58] #56 closed

[2016-08-30 09:34] hotohoto opened #63 "Uncaught TypeError: Cannot read property 'getCursorPosition' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.9.9
**System**: Mac OS X 10.11.6
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.5.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getCursorPosition' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-09-01 15:57] Off76 opened #64 "Uncaught TypeError: Cannot read property 'join' of undefined"
After updating to the latest version of Atom, this error is showing every time I try to access to atom preference, which is preventing me to access to preference.

**Atom Version**: 1.10.0
**Electron Version**: 0.37.8
**System**: linux 4.7.2
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.5.0

### Stack Trace

Uncaught TypeError: Cannot read property 'join' of undefined

[2016-09-02 07:53] abe33 commented on #64
Hi @Off76, there's definitely a issue in the package as it should not fail in that case.
However it looks there's also something weird with your config. You've got this error because the `tablr.supportedCsvExtensions` setting is null, meaning that in practice, even if I guard agaisnt an error in that situation, you still won't be able to open any file with tablr since there's no extensions it'll s

[2016-09-02 07:58] #64 closed

[2016-09-02 08:26] Off76 commented on #64
That's strange, have you an idea of how I could uninstall this package ? Since I can't access to preferences? Thanks for your answer  :+1:

[2016-09-02 08:59] abe33 commented on #64
This should not be necessary with the latest version (1.5.1), if the setting is null I fallback on the setting's default. But it'll also works with a reisintall :).

[2016-09-07 09:05] Yajo opened #65 "Tab does not get persistent automatically"
You know this [Atom's pending pane items](http://blog.atom.io/2016/03/17/atom-1-6-and-1-7-beta.html) thingy. Well... after editing in a tablr tab, it still is kept as pending, and if you open a different file, it replaces it.

It should get pinned as normal behavior for normal tabs.

Workaround: double-click on the tab.

[2016-09-08 07:57] abe33 commented on #65
@Yajo thanks for the report, I may have missed something important regarding pending pane items. I'll take a look at that.

[2016-09-08 12:32] #63 closed

[2016-09-08 12:32] #65 closed

[2016-09-09 10:23] Yajo commented on #65
With last update, tab is kept when you press "Open with table editor", not when you edit something inside.

[2016-09-09 18:49] jan-glx opened #66 "How do I undo 'remember my choice'?"
It seems to be literally "once and for all". related to #1

[2016-09-09 18:53] jan-glx commented on #27
What are the commands? Could you add them to the documentation, please? (See #66 )

[2016-09-09 19:02] jan-glx opened #67 "Setting `Default Column Delemiter` is ignored in initial preview in the file open dialogue."
Change `Default Column Delemiter` to  e.g. `\t`
Open file with tabs as separator.
Observe error even through `\t` is highlighted in the file open dialogue.
Click on `\t` to reparse the file correctly for preview.

[2016-09-09 19:14] jan-glx opened #68 "Saving write protected files fails silently"
Reproduce:

1. open `.csv` file in `tablr` and in `MS Excel`
2. edit in `tablr`
3. try to save save -- nothing happens

[2016-09-12 07:17] abe33 commented on #66
Hi @jan-glx, you can use the `Tablr: Clear Csv Choice` command for that purpose. I'll update the docs with a mention about since I forgot to add one.

[2016-09-12 07:17] #66 closed

[2016-09-12 07:20] jan-glx commented on #66
Thanks!

[2016-09-12 09:15] abe33 commented on #67
Right, another case I miss it seems.

[2016-09-12 10:51] abe33 commented on #65
You mean editing a setting in the CSV opening form? As is, as nothing is saved until you pick a choice in this form I though it made more sense to terminate the pending state when making a choice, but yeah I can also terminate the pending state once the user changed something in the form.

[2016-09-12 11:04] #67 closed

[2016-09-16 09:51] Yajo commented on #65
I mean inside the csv itself. Atom works that way: pending until you write anything in the tab. Sometimes I just open a csv to see its contents, and expect it to be non-persistent because I did not edit it. But to see its contents, I press the "Open with table editor" button.

[2016-09-16 11:40] abe33 commented on #65
Oh, right! I see, let's do that then, that's ok for me.

[2016-09-29 16:12] dbkaplun opened #69 ".transition is undefined"
# Steps to reproduce

1. Use [Nucleus Dark UI](https://atom.io/themes/nucleus-dark-ui)
2. Enable tablr

# Expected

Tablr should load successfully.

# Actual
[code]
[code]

See also #50, which Atom mistakenly thinks is the same issue. ("The error was thrown from the tablr package. This issue has already been reported.")

[2016-09-30 08:33] abe33 commented on #69
This issue seems to come from the fact that I relied on the `buttons.less` file from the theme. It appears the version from nucleus-dark-ui relies on the fact that the mixins it requires are imported beforehand, which is not the case when I import it. I'll remove the import and use the `.btn` class directly in the markup instead.

[2016-09-30 08:34] #69 closed

[2016-10-03 22:08] maxbrunsfeld opened #70 "Changes required for upcoming CoffeeScript upgrade"
Hi! Thanks for maintaining the tablr package!

In Atom v1.12, we are going to [upgrade CoffeeScript](https://github.com/atom/atom/pull/12780) to the latest version. This upgrade entails one potentially breaking change to the language:

We think your package may be affected by this upgrade, in the following places:

* The `options` variable [here](https://github.com/abe33/atom-tablr/tree/master/lib

[2016-10-04 07:44] #70 closed

[2016-10-11 15:19] cjwijtmans opened #71 "Add option to skip rows with errors."
Add option to skip rows with errors.
A large file with an errornous line. Get annoyed.

[2016-10-19 12:03] vitaly-zdanevich opened #72 "after installation *.csv still onening as text"
And ico for this file format in file browser default - not like in your gif.

Atom version: 1.11.2
MacOS

[2016-10-20 14:06] abe33 commented on #71
I'll see if node-csv supports this kind of option. Stay tuned

[2016-11-11 08:46] Yajo opened #74 "Looks ugly with atom-material-ui"
Not sure if this is a bug on https://github.com/abe33/atom-tablr or on https://github.com/atom-material/atom-material-ui, but when using Atom Material theme + One Dark for colours, see how it looks editing a cell:

![captura de pantalla de 2016-11-11 09-44-21](https://cloud.githubusercontent.com/assets/973709/20209259/b37b1114-a7f3-11e6-9e30-2415fbf27ee0.png)

[2016-11-11 13:00] korgoth opened #75 "Open files with different extension"
Hey guys,

do you think it would be possible to implement something like 'open as csv'  option? Recently there are many files that contain csv data inside but have lets say .txt extensions? having to rename them to open them in atom is a pain  - specially when i have to rename them back to txt for some reason :)

[2016-11-16 08:45] abe33 commented on #74
Hi @Yajo, thanks for the report. It looks like Atom Material isn't defining a background to text editor. I can fix that on my end.

[2016-11-16 08:49] abe33 commented on #75
Hi @korgoth, You should already be abe to do that using the existing setting. There's one for that:
![settings_ ___development_javascripts_gsoi-html-composer](https://cloud.githubusercontent.com/assets/247140/20340476/ec24124e-abe1-11e6-9f93-88542e4533c4.png)

I'll think of a better way to open a single file as CSV without having to play with the settings.

[2016-11-18 13:19] LaurentGoderre opened #76 "Freezing rows or columns"
It would be nice to have the ability to freeze either rows or column when editing a large file

[2016-11-21 11:50] abe33 commented on #72
Hi @vitaly-zdanevich, which version of the package did you install? Is there any error reported at startup? Does the package appears as activated in the settings view?

[2016-11-21 11:51] abe33 commented on #76
Hi @LaurentGoderre, What do you mean by freezing?  Like preventing any change in that row/column?

[2016-11-21 13:05] LaurentGoderre commented on #76
I mean a display freeze so that when you scroll, the first few rows and or column can remain visible

[2016-11-28 14:50] #74 closed

[2016-12-20 14:52] HamsterHuey opened #77 "Deleting multiple rows/columns"
Thanks for a great extension. Perhaps this is already implemented and I can't seem to figure it out, but at the moment, it seems that I cannot select multiple rows/columns and then use `Ctrl+Alt+Backspace left` to delete all the selected rows/columns. It will still only delete a single row or column, which can make bulk deletion of rows/columns very tedious.

It would be great to implement this if

[2017-01-02 14:15] abe33 commented on #77
Nah, you're right, I forgot to implement multiple lines/columns removal. I'll take a look at that.

Thanks for the report!

[2017-01-06 15:06] aechase opened #78 "Top of 'choose your editor' screen cut off"
When Atom's window is too small, the top of the "Choose between table and text editor" gets cut off, which obscures the buttons. In this view, Tablr only allows you to scroll down, and not up, so you have to resize the window. It looks like the problem might arise when the package rearranges the CSV Settings to be two columns instead of three.

<img width="975" alt="screen shot 2017-01-06 at 14 55

[2017-01-06 19:31] lparsons commented on #16
Getting this error on latest version

**Atom Version**: 1.12.9
**Electron Version**: 1.3.13
**System**: Mac OS X 10.12.2
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.8.0

### Stack Trace

Uncaught TypeError: Cannot read property 'name' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-01-06 19:36] lparsons opened #79 "Uncaught TypeError: Cannot read property 'collectOptions' of undefined"
[Enter steps to reproduce below:]

1. Open tab separated file in table editor
2. Close atom
3. Reopen and have atom automatically open the file in table editor

**Atom Version**: 1.12.9
**Electron Version**: 1.3.13
**System**: Mac OS X 10.12.2
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package, v1.8.0

### Stack Trace

Uncaught TypeError: Cannot read property 'collectOptions' of

[2017-01-08 16:58] #77 closed

[2017-01-08 16:58] #78 closed

[2017-01-09 08:59] HamsterHuey commented on #77
That's awesome! Thanks a ton for implementing this!

[2017-01-10 19:37] nithinmurali opened #80 "Selected cell dosn't resize on it's colum resize"
Steps to reproduce:

- select a cell
- now resize the column of that selected cell

the selected cell is not resized while the expected behavior is for it to resize along with the column

![screenshot from 2017-01-11 01 03 35](https://cloud.githubusercontent.com/assets/5932834/21821515/dda35a48-d799-11e6-85bc-6dc42b63259a.png)

[2017-01-17 19:17] sudeepmandal opened #81 "Edited cell text does not update till focus moved away from edited cell"
I'm not sure if this was always the case, but I noticed this in the latest version. If I double-click on a cell and edit it and then hit Enter, the cell text still displays the old text in the pane. Only when I move the cursor away from the current cell (Either by clicking elsewhere or using cursor keys to move the highlight cell marker) does the edited cell text update with the new text.

[2017-01-21 22:34] HadesD commented on #76
When click scroll bar, atom will auto-choose the last row, it make me some trouble when edit a large file...

[2017-02-17 08:43] wisotzky commented on #2
Could you please comment on the current status of this feature request - as this is already 1.5 years old... I've got a xmltool, which is doing a xpath query and writes the result into a new texteditor window. With the current implementation, the only way to get this work is keeping the filename "untitled" - save the file as "[filename].csv" close and open again. Not really user optimized workflow

[2017-02-17 08:51] wisotzky opened #82 "Support for XML files?"
Would be good to render XML files in atom-tablr... Due to XML data-structures - this would be nested table rather than flat table. Look&Feel should be like in XmlPadPro XML Grid Table View.

[2017-02-28 20:21] lparsons opened #83 "Uncaught TypeError: Cannot read property 'name' of undefined"
Seems like a re-occurance of #16

1. Open file with no headers in tablr
2. Edit header name of one column

**Atom**: 1.14.4 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.3
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.1

### Stack Trace

Uncaught TypeError: Cannot read property 'name' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-08 11:40] matthiaskoenig opened #84 "Support zoom in/out"
Hi all,
How can I zoom in/out to display more/less columns.
Or alternatively how can I change the font size & column width easily

I have csv files with many columns and want to be able to easily zoom in to display more information
Normally I can just use
`ctrl +` or `ctrl -`
but this does not have any effect in tablr.

Thanks for any help.

[2017-03-09 19:04] Datise commented on #31
I am having an issue opening an 11mb file specifically in the table editor mode. Not sure if this is still an atom issue or something Tablr is doing. I believe I'm running the latest:
{
  "name": "tablr",
  "main": "./lib/tablr",
  "version": "1.8.1",
  "description": "Edit CSV files using a table editor",
  "repository": "https://github.com/abe33/atom-tablr",
  "license": "MIT",
  "engines": {

[2017-03-21 15:39] giano opened #85 "Uncaught TypeError: Cannot read property 'forEach' of undefined"
[Enter steps to reproduce:]

1. Create empty CSV File
2. Edit enabling "Header" & "Quoted"

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.3
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.1

### Stack Trace

Uncaught TypeError: Cannot read property 'forEach' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-23 11:26] rolfkleef opened #86 "Opening multiple csv files hangs when switching to second csv file"
I have a folder with two csv files. When I start `atom *` in that folder, I get to choose either table or text view for one of the files, but as soon as I switch to the second file Atom hangs: I see the dialog to choose, but Atom is non-responsive.

I can edit the first file, and I can close it: at that point Atom hangs as well. I can open and close other non-csv files, it's just when I switch to

[2017-03-24 14:49] MarcHafner opened #87 "Uncaught TypeError: Cannot read property 'previewCSV' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.15.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.12.3
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.1

### Stack Trace

Uncaught TypeError: Cannot read property 'previewCSV' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-03-26 20:36] oncletom commented on #68
It happens to me even if the file is not in use in another editor.

I have to exit the csv tab in Atom to get prompted to save it.

[2017-03-31 09:12] #85 closed

[2017-03-31 09:47] abe33 commented on #86
Hi @rolfkleef, sorry for the late reply.

I can confirm the issue, will try to find the root cause.

[2017-03-31 10:02] #86 closed

[2017-03-31 10:02] #87 closed

[2017-03-31 12:25] rolfkleef commented on #86
:+1: merci!

[2017-04-09 19:25] alorlov commented on #34
Is there a good idea to create hidden TextEditor with raw csv each time when search is requested. In that way, we would use exists find&replace API, then we get TextEditorMarker's and highlight and update Tablr models ?

[2017-04-26 15:51] jameshowison commented on #31
I'm getting hangups working with files about 5 MB. tablr preview is fine, but after the two progress bars Atom freezes.  In addition it seems that tablr skips the "Ask before opening large files" prompt if I chose "Open Table Editor".

Could the preview show the size of the file (MB and rows?) Given Atom's difficulties with large files I just wouldn't open large CSVs.

[2017-05-02 11:56] alpham opened #89 "Uncaught TypeError: Cannot read property 'applyChoice' of undefined"
1. I opened a CSV file and closed the pane without choosing any choice.

**Atom**: 1.16.0 x64
**Electron**: 1.3.13
**OS**: elementary OS
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.3

### Stack Trace

Uncaught TypeError: Cannot read property 'applyChoice' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-05-09 14:58] dansom commented on #81
Same issue here. A fix would be much appreciated!

[2017-07-10 21:36] paullamar3 opened #90 "Switching to a stable sort algorithm would allow for multi-column sorting"
First: I *love* tablr. I've been using it a lot recently and am very pleased with it.

I want to sort by multiple columns. For example, if my CSV records have a COMPANY and a EMPLOYEE field I'd like to sort by COMPANY and within each group of records for a company have the PERSON field sorted as well. If *tablr* used a stable sorting algorithm I could do this by sorting on PERSON first, applying t

[2017-07-12 21:09] eivindml commented on #79
Got the same error today.

[2017-07-13 19:56] dflock opened #91 "Feature Request: Button/hotkey to auto-size all columns"
This existing column autosize functionality is great, but it would be fantastic to have a hotkey/button/something to trigger this for all columns in the current file.

Would do the equivalent of clicking the current 'Adjust width to content' button for each column.

[2017-07-18 18:06] JasonBraddy opened #92 "Allow Tablr editing on remote project folders?"
I can open local .csv files and get prompted to do so as text or CSV as expected, but in my remote project folder (where I really want to be able to edit CSVs most of the time) it only opens as a text file and I can't seem to find a way to invoke the Tablr plugin.

[2017-07-19 07:51] zoonoo commented on #79
same here.

[2017-08-01 08:32] duncdrum commented on #79
yup first time macOS 10.12.6, atom 1.18.0

[2017-10-05 15:18] duncdrum opened #93 "Uncaught TypeError: Cannot read property 'clearUndoStack' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.21.0 x64
**Electron**: 1.6.9
**OS**: Mac OS X 10.12.6
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.3

### Stack Trace

Uncaught TypeError: Cannot read property 'clearUndoStack' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-10-24 01:55] jeremydouglass commented on #93
Steps to reproduce for me:

1. open a CSV file with tablr by completing the setting menu
2. either:
   -  click twice in any cell to edit
   -  click once in any cell, then press any key to edit

Atom: 1.21.1 x64
OS: Mac OS X 10.12.6

[2017-10-24 15:12] JasonJunMa commented on #93
I got same issue here.

[Enter steps to reproduce:]

1. open a CSV file with tablr by completing the setting menu
2. click twice in any cell to edit

**Atom**: 1.21.1 x64
**Electron**: 1.6.15
**OS**: Mac OS X 10.13
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.3

### Stack Trace

Uncaught TypeError: Cannot read property 'clearUndoStack' of undefined

[code]

### Command

[2017-10-30 20:50] lkkadiri opened #94 "Uncaught TypeError: Cannot read property 'clearUndoStack' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.21.1 x64
**Electron**: 1.6.15
**OS**: Mac OS X 10.12.6
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.3

### Stack Trace

Uncaught TypeError: Cannot read property 'clearUndoStack' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-10-30 20:52] #94 closed, assigned to nobody

[2017-10-31 20:57] maxbrunsfeld opened #95 "Changes to TextEditor.onDidChange and TextBuffer.onDidChange coming in Atom 1.23"
Hi! Thanks for maintaining the tablr package!

In Atom v1.23, we will [some](https://github.com/atom/text-buffer/pull/273) [changes](https://github.com/atom/text-buffer/pull/274) that may affect your package.

The methods `TextEditor.onDidChange` and `TextBuffer.onDidChange` will now call their callbacks *less frequently*. Previously, these callbacks would get called once for each individual chang

[2017-11-01 06:48] lincolnep commented on #93
If you comment out theses 2 lines in table-element.js then you won't get this error showing up.

Line 1309:    this.editor.getBuffer().history.clearUndoStack()
Line 1310:    this.editor.getBuffer().history.clearRedoStack()

Comment out with // in-front of the line

Restart Atom and it should not show that error anymore.

[2017-11-01 09:06] jeremydouglass commented on #93
@lincolnep -- so, disable the undo/redo stack calls.... submit that as a pull request?

[2017-11-01 15:59] neelsmith commented on #93
Tried that, and atom hung up on me when editing delimited text with tablr.  Had to force quit.

[2017-11-10 02:11] lincolnep commented on #93
@neelsmith Do you have a sample csv that hangs atom to have a look at?

I have tryed a few csv files and it looks to work great on my end.
I am on Windows 10 if it make a difference.

I have attached the csv that i am testing on could you give that a go and let me know if it crashes atom.
[SampleCSVFile_11kb.zip](https://github.com/abe33/atom-tablr/files/1459852/SampleCSVFile_11kb.zip)

[2017-11-10 20:21] siso commented on #93
@lincolnep https://github.com/lincolnep/atom-tablr/commit/4a6b91c6cbdca167450061676ce2576f8ae6dcac fixes the issue on OS X for me

[2017-11-27 16:44] Guipotenciano commented on #93
I don't know if this is the best way, but works for me (on MacOS).

(MacOS) Go to ATOM > Preferences
(Windows) Go to File > Settings

On Settings window click in "Open Config Folder"
Navigate to **.atom > packages > tablr > lib > table-elements.js** (open it)

**Search for**
[code]
**Replace for**
[code]

[2017-11-30 17:33] AminSarafraz commented on #93
Is there any hopes on fixing this issue any time soon?

[2017-12-01 16:23] jeremydouglass commented on #93
Well, @abe33 hasn't chimed in for two months, and hasn't committed in seven months, so... probably not anytime soon?

@lincolnep has forked and patched. You could install that manually:

https://github.com/lincolnep/atom-tablr

[2017-12-04 19:12] vafagh commented on #93
This is my 5 top line on .csv file(exported by DOS /r/n) :
[code]
[Enter steps to reproduce:]

1. open csv file
2. click on 'edit column name' in column head OR double click on cell to edit content

**Atom**: 1.22.0 x64
**Electron**: 1.6.15
**OS**: "Fedora release 27
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.3

### Stack Trace

Uncaught TypeError: Cannot read proper

[2017-12-22 08:18] BenjaminHoegh commented on #93
Same issue on Windows 10 & MacOS

`TypeError: Cannot read property 'clearUndoStack' of undefined
    at HTMLElement.startCellEdit (/Users/HawkonDK/.atom/packages/tablr/lib/table-element.js:1309:36)
    at Object.dblclick (/Users/HawkonDK/.atom/packages/tablr/lib/table-element.js:341:29)
    at HTMLDivElement.listener (/Users/HawkonDK/.atom/packages/minimap/node_modules/atom-utils/lib/mixins/events

[2017-12-28 23:52] pkoppstein opened #97 "unable to switch to Table Editor"
tablr attempted to show a preview of a large TSV file before I had a chance to fill in the options about how to treat quotation marks, etc; the preview failed, and I am now unable to open the file in Table Editor mode!

It would seem that this is a bug; if so, I suppose it may be a while before a fix is included in an official release.  In the meantime, I'd appreciate any suggestions regarding wor

[2018-03-03 06:57] sudwebd opened #98 "Adding support for tsv files"
This is a feature request for suggesting addition of tsv editing support to the atom-tablr plugin

[2018-03-03 07:30] #98 closed, assigned to nobody

[2018-05-10 12:45] ivanhercaz commented on #36
Me too...

**Atom Version**: 1.6.1
**System**: Mac OS X 10.11.4
** Tablr package: 1.8.3

Have you got any idea about it @abe33? Tablr is a very good package and it works very nice, with this exception :crying_cat_face:

Regards,
Iván

[2018-05-13 21:24] w-hc commented on #92
It would be really nice if this could work with Nuclide.

[2018-06-01 10:17] Asteb612 opened #100 "Cannot read property 'includeInto' of undefined"
tablr version 1.8.3
atom version 1.27.0 with atom-ide
This message is on the open view.

[2018-06-22 20:27] higorhi commented on #100
After updating Atom, Tablr will no longer open Table Editor issuing the same error:
`Cannot read property 'includeInto' of undefined`

Still shows the preview, though, except after selecting Table Editor mode.

![image](https://user-images.githubusercontent.com/23512845/41797629-2e23ffe4-7641-11e8-8263-19458b3749d7.png)

Atom 1.28.0
Tablr 1.8.3

[2018-06-23 02:22] TakashiAoki commented on #100
I am also.
I get the same error message.

[2018-06-24 09:57] duncdrum commented on #100
same on macOS 10.13.5

[2018-06-24 21:14] brundonsmith commented on #100
Same here, Windows 10 Atom 1.28

[2018-06-26 00:14] rvsandeep commented on #100
Same here on Ubuntu 18.04

[2018-06-27 12:42] syrsly opened #101 "Uncaught TypeError: Cannot read property 'includeInto' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.28.0 x64
**Electron**: 2.0.3
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.3

### Stack Trace

Uncaught TypeError: Cannot read property 'includeInto' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-06-27 12:44] syrsly commented on #100
Same here, just submitted a duplicate issue, sorry about that.

[2018-06-28 12:37] kguidonimartins commented on #100
Same here on Ubuntu 16.04

[2018-07-01 11:07] ludovicriffault commented on #100
Same here with Atom 1.28.0 x64 on macOS High Sierra

[2018-07-03 13:18] pjnr1 commented on #100
Same here;
Atom 1.28.0
macOS High Sierra 10.13.4
tablr 1.8.3

[2018-07-09 00:29] acrenwelge commented on #100
Same here
Atom 1.28.0
Windows 10

[2018-07-09 10:11] kosiarka0 opened #103 "Property of undefined"
After choosing  to open file in table editor "Cannot read property 'includeInto; of undefined" pops up.

![issue](https://user-images.githubusercontent.com/25564208/42444768-30d9e18a-8371-11e8-810e-f9252d17aaab.gif)

[2018-07-09 10:13] kosiarka0 commented on #103
Duplicate of issue #100.

[2018-07-09 10:13] #103 closed, assigned to nobody

[2018-07-10 13:13] eugenweissbart commented on #93
bump

[2018-07-11 06:14] franiis commented on #100
Same in:
Atom 1.28.1 x64
tablr 1.8.3
Windows 10

[2018-07-11 08:31] wataru129 commented on #100
Same here
 atom 1.28.0
macOS High Sierra 10.13.4

[2018-07-14 08:26] pjnr1 commented on #101
Duplicate of #100

[2018-07-17 05:03] pstaubs commented on #100
Issue persists in atom 1.28.2/tablr 1.83 and essentially renders the package usless.

[2018-07-17 14:47] dsananez commented on #100
Same here. Atom 1.28.2 W10. Could someone fix this? ty

[2018-07-18 08:49] Semihal commented on #100
Likewise.

[2018-07-18 10:19] spettifer-fdb commented on #100
Given there have been no commits for at least a year I'd guess the author is no longer supporting this so unless it turns out to be a core problem in Atom (seems unlikely since more people would be shouting about broken stuff), then it's simply a breaking change in Atom that may or may not get fixed in tablr depending on whether or not the author resurrects it or someone submits a PR or forks it.

[2018-07-22 22:51] calgacus commented on #100
Seems to hit a snag deep in vm.js line 56:
 ` return realRunInContext.call(this, contextifiedSandbox, options);return realRunInContext.call(this, contextifiedSandbox, options);`
That return the undefined that gets returned to pool.js around line  66:

`const mixin = vm.runInContext(source, context, ${plural}-pool.vm)`
 `mixin.includeInto(this)`   //-- this is where the exception gets thrown.

 All

[2018-07-22 23:15] mfripp commented on #100
@calgacus, it looks like I was debugging this at the same time as you (wish I'd seen your comment first, although it might have scared me off!). I just posted a pull request that seems to fix this, at least for me. If you want, you can install it via

    apm uninstall tablr
    apm install https://github.com/mfripp/atom-tablr.git

I don't intend to do anything more with this fork, but it may help

[2018-07-22 23:59] calgacus commented on #100
Thanks! It works for me.

[2018-07-23 08:09] tomasztyzaj commented on #100
Thanks @mfripp, worked for me too on MacOS High Sierra 10.13.6 and Atom 1.28.2

[2018-07-23 08:13] spettifer-fdb commented on #100
Yep, W10 Atom 1.28.2 working fine. Thanks for the fix!

[2018-07-23 10:05] a-paul-taylor commented on #100
Fixed it for me (1.28.2 W7) - thanks!

[2018-07-23 10:19] kguidonimartins commented on #100
Thanks, @mfripp! Working fine too on Ubuntu 16.04 and Atom 1.28.1

[2018-08-12 14:32] piuccio commented on #100
Seems to be broken again on Atom `1.29.0`

[2018-08-14 07:55] spettifer-fdb commented on #100
@piuccio Are you sure you haven't accidentally updated the package? The fork provided by @mfripp will show as being an older version so Atom's package manager will 'update' it to 1.8.3 if you let it and that will overwrite the fix. Until an official release happens, you will need to ignore all updates to tablr if you want it to keep working. I am running Atom 1.29.0 and it is working fine with the

[2018-08-14 08:08] piuccio commented on #100
oh cool, sorry I missed the https://github.com/abe33/atom-tablr/issues/100#issuecomment-406904774 about installing from a fork. Yes it works fine now

[2018-08-14 08:10] spettifer-fdb commented on #100
@piuccio Great!

[2018-08-14 13:34] larsjueljensen opened #106 "Cannot read property 'includeInfo' of undefined"
Steps to reproduce:

1. Open a csv file encoded with ISO-8859-1 which contains any of [ÆØÅæøå]
2. Press "Open Table Editor"

The table editor will not open, but the following error message is displayed in a box right above the CSV settings:

[2018-08-16 14:27] GuillaumeLegendre commented on #106
Duplicate of #100

[2018-08-28 17:17] randy commented on #100
@mfripp, any chance you can also throw in the fix for #93? https://github.com/abe33/atom-tablr/issues/93#issuecomment-347242628

[2018-09-13 12:39] mkborregaard opened #107 "Is this repo maintained?"
Hi, I just fell over this package and it looks super sweet. It would be nice to integrate it into my work flow. Using it caused an exception, though, and there are 30 open quite similar issues, no commits for a year, and a failing Travis CI build.
Is it being actively maintained or has it fallen a bit by the wayside? It definitely looks like the coolest such project for Atom.

[2018-09-25 11:05] devbynyden commented on #107
Looks like it isn't maintained anymore. You can always install a fork which at least works https://github.com/abe33/atom-tablr/issues/100#issuecomment-406904774

[2018-09-25 11:10] mkborregaard commented on #107
Thanks, I did just that. I wonder if you could get the atom people to change which fork their installation thingy points to? It's important to consider the life cycle of open source packages for a project like that.

[2018-10-10 04:47] gruntaway commented on #101
Having the same issue.

[2018-10-12 07:51] puttkraidej commented on #100
work like charm!

[2018-10-15 15:04] alanzzhao-toast commented on #100
on macosx. tried the terminal commands, but get

`Couldn't clone https://github.com/mfripp/atom-tablr.git
`
what am i doing wrong?

[2018-10-24 16:31] dschneiderch commented on #100
@alanzzhao-toast  make sure you have git installed and available on your PATH

[2018-10-25 09:26] k-utsumi commented on #93
https://github.com/abe33/atom-tablr/issues/93#issuecomment-347242628

The file name was incorrect.
`table-elements.js` > `table-element.js`

Command to open file on terminal.
[code]

---

I forked to https://github.com/k-utsumi/atom-tablr

[2018-11-05 12:10] skytreetower commented on #100
@mfripp

I run Atom 1.32.1 for Win10. I installed the ‘tablr’ package and ran into https://github.com/abe33/atom-tablr/issues/100. I searched for ‘atom-tablr’ package in both Atom and on the webpage with no hit. So I uninstalled ‘tablr’, cloned the git repo https://github.com/mfripp/atom-tablr.git and copied the directory structure to the .atom\packages directory. Restarted Atom but the package se

[2018-11-12 09:56] wmoreland commented on #107
I've flagged the package on the atom package site and pointed out this issue. It's likely up to one of the fork maintainers to submit an entirely new package rather than switch the source of the current one.

[2019-03-12 09:37] Palmstroemen commented on #100
Why not use the installation process as described above? Maybe packages need to be registered somewhere in a config-file of Atom.
Yes to all your questions. Yes you can define the default settings and yes you can define which file-suffix to be opened automatically with the tablr-extension.

[2019-04-18 23:45] EvilRenegade commented on #100
As of 2019-04-19, this is still the solution to get it to work.

[2019-05-19 18:07] damianobarbati commented on #100
+1

[2019-06-19 07:53] clearzale commented on #100
Amazing, thx!

[2019-07-25 15:37] TSDAdam commented on #100
@skytreetower I had the same issue as you.  I got it working by doing:

- Install standard tablr, the non-working one
- replace the copy of lib\mixins\pool.js in your own .atom folder with the one here > https://github.com/mfripp/atom-tablr/blob/master/lib/mixins/pool.js

That worked for me on windows.

[2019-07-30 09:18] philipsimonhall commented on #100
For the record, this also worked for me on Fedora 30 with Atom 1.39.1, just remember to have git installed for installation steps to work, that caught me out temporarily.

[2019-09-06 15:24] PaoloC68 commented on #100
This worked for me too on a Mac.

[2019-11-09 14:02] s0q commented on #100
This also worked for me on windows, excellent work!

[2019-11-13 15:58] thebestpol commented on #100
@mfripp Thanks for sharing it works

[2019-12-04 19:07] eirerocks commented on #100
@mfripp - thanks that pull request worked for me - don't know what you did but it works!
it would be good if the original author could have a look and update main for latest Atom

[2019-12-20 08:47] dev4indglobal commented on #100
@mfripp Thanks, It worked for me

[2020-02-22 03:26] darkn3rd commented on #100
Still happening on mine 1.8.3

[2020-03-13 03:22] layerssss commented on #100
As of 13 March, 2020, this is still the solution.

[2020-03-14 03:53] KLaurence commented on #100
Hello to everyone here! This might not be on topic, but I am trying mfripp's solution for this plugin since it seems to work for others. It doesn't work for me, however, for unknown reasons

When trying to install using `apm install https://github.com/mfripp/atom-tablr.git` or even `apm install mfripp/atom-tablr`, the console says these:

[code]

I can't really find a solution for this in the inte

[2020-03-22 16:49] ulysse42 commented on #100
Same problem, can confirm this still works

[2020-03-30 08:24] maartenderie commented on #100
@abe33 I've you're not going to maintain the project; please find someone who will.

[2020-04-22 10:29] arvinyorro commented on #100
After 2 years, the fix still works

To anyone else who do not know where the pool.js is located, its in
`C:\Users\{username}\.atom\packages\tablr\lib\mixins`

[2020-05-14 05:57] amitbattase commented on #101
Having the same issue.

[2020-05-24 23:46] ujLion commented on #100
At: %userprofile%\.atom\packages\tablr\lib\mixins
replace pool.js with https://raw.githubusercontent.com/mfripp/atom-tablr/master/lib/mixins/pool.js
And relaunch

[2020-06-18 17:42] BhaveshDiwan commented on #100
Confirmed to fix the issue in MacOS Catalina 10.15.5

[2020-07-09 09:12] ApplyCyber commented on #100
Work for me on Mac. Thank you!!

[2020-07-15 16:07] chagai95 commented on #34
I am using atom only to use this extension, and this search(even without replace) feature would be really, really cool to have!

[2020-07-21 06:32] chagai95 opened #109 "Saving with enter instead of tab"
Can someone add this? Is it easy to add?

[2020-07-21 15:17] TxJson commented on #100
Can confirm, this still works on Ubuntu 20.04.

[2020-07-27 11:01] TxJson commented on #109
It seems from the activity and issues that this package/repo is no longer maintained. I suggest you try and look through the different Forks of the project.

[2020-10-28 16:25] ParadoxV5 commented on #107
@abe33

[2020-11-16 03:04] Nazareh commented on #100
that worked for me

[2020-11-23 22:26] MattHartzell commented on #100
@mfripp This worked great for me! THANK YOU!

[2021-01-12 17:34] peter-dye opened #110 "Uncaught ReferenceError: __CUSTOM_HTML_ELEMENTS_CLASSES__ is not defined"
[Enter steps to reproduce:]

1. Right click on .csv file in finder and select open with atom
2. Didn't change any options and clicked Open Table Editor
3. Error appeared

**Atom**: 1.53.0 x64
**Electron**: 6.1.12
**OS**: macOS 11.1
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.3

### Stack Trace

Uncaught ReferenceError: __CUSTOM_HTML_ELEMENTS_CLASSES__ is not defined

[2021-01-12 17:43] typo3ua commented on #36
I have the same issue

Atom Last Version:
System: Windows 10
Tablr package: Last version

[2021-01-16 22:03] malicious commented on #36
Potential fix (disclaimer that I don't understand the multi-cell editing well, see 2256b1df2b149f681ac192082158d6eab3ce54e8 for original, pre-ES6 commit):

`positions` is only used within the conditional, so update confirmCellEdit():

[code]

EDIT: Actually, that won't work at all, `this.tableEditor` will still be null. It only seemed like it worked because I restarted Atom, which "fixes" things t

[2021-02-02 03:57] johnpitchko commented on #100
https://github.com/abe33/atom-tablr/issues/100?_pjax=%23js-repo-pjax-container#issuecomment-406904774 worked for me, thank you.

[2021-02-25 16:08] maxfrischknecht commented on #100
[code]
Still works on February 25, 2021 for Atom 1.54.0, on MacOSx 10.15.7.

[2021-03-29 11:35] jberthet commented on #100
[code]

Still work on March 29, 2021 for Atom 1.55.0 on macOS BigSur 11.2.3

Is there any way that this version become available in the package manager so people don't get confused ?

[2021-04-11 08:28] squeezer44 commented on #110
Same for me with this stack tracke:

[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.52.0 x64
**Electron**: 6.1.12
**OS**: SQUEEZER44
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.3

### Stack Trace

Uncaught ReferenceError: __CUSTOM_HTML_ELEMENTS_CLASSES__ is not defined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2021-05-28 15:39] ghost commented on #100
I can confirm this fixes the issue. I'm also on OSX Big Sur (but on 11.3). I'm on Atom 1.57.0 x64.

[2021-05-28 15:47] ghost commented on #100
It appears @abe33 does in fact still occasionally contribute to private repositories. Hopefully they'll see this message and someone else can take over the tablr package on apm. What they could do is remove tablr from apm and someone who wants to actively work on tablr could take over the package name. The latest work the owner of this repo did for a private repo is some time this month (May 2021)

[2021-07-01 09:03] bsennblad opened #111 "apm"

[2021-07-07 17:01] gytisrepecka commented on #100
Thanks, this solution worked 👍

[2021-07-08 19:48] inform880 commented on #100
@abe33 Can you give one of us rights to this repo to let us take over development?

[2021-07-20 18:42] AtomicNess123 opened #112 "wrapping cells"
Excellent package. Use it daily! Is there the possibility to wrap the contents of a cell? I have quite some long text lines in my tables that I'd like to read being wrapped. Thanks.

[2021-07-23 00:28] EpicCodeWizard commented on #100
Hey everyone! I made a quick apm package with the updated version. Here it is: [https://atom.io/packages/CSV-Editor](https://atom.io/packages/CSV-Editor)! Here's the apm command: ```apm install CSV-Editor```

[2021-07-23 00:29] EpicCodeWizard commented on #100
Hey everyone! I made a quick apm package with the fixed version. Here it is: [https://atom.io/packages/CSV-Editor](https://atom.io/packages/CSV-Editor)! Here's the apm command: ```apm install CSV-Editor```.

[2021-07-23 00:30] EpicCodeWizard commented on #100
Hey everyone! I made a quick apm package with the fixed version. Here it is: [https://atom.io/packages/CSV-Editor](https://atom.io/packages/CSV-Editor)! Here's the apm command: ```apm install CSV-Editor``` (I updated the package name so that it is easier to find).

[2021-09-17 15:17] k6atru opened #113 "Uncaught TypeError: Cannot read property 'grammarScope' of undefined"
[Enter steps to reproduce:]

opening an empty csv file.

**Atom**: 1.58.0 x64
**Electron**: 9.4.4
**OS**: macOS 11.5.2
**Thrown From**: [tablr](https://github.com/abe33/atom-tablr) package 1.8.3

### Stack Trace

Uncaught TypeError: Cannot read property 'grammarScope' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2021-11-14 12:20] KenjiYANAGAWA commented on #34
Please please let me do find and replace. This package is awesome. thanks.

[2022-02-02 12:47] #100 closed, assigned to nobody

[2022-03-03 21:16] claypooj21 commented on #100
Just in case, @mfripp's  version can be installed from the atom package installer GUI by typing "mfripp/atom-tablr" into the package search. It still doesn't show up in the search results, but if you're uncomfortable with a terminal (why? I don't know), that's another option.

Thanks @mfripp and @abe33!

[2022-06-16 12:50] nitramko opened #114 "Cannot read property ‘includeInto’ of undefined"
**Cannot read property ‘includeInto’ of undefined** in red after I try to click on the Open Table Editor

The file is attached (just in case you need it)
[cli-scanned-cookies.csv](https://github.com/abe33/atom-tablr/files/8918942/cli-scanned-cookies.csv)

[2022-06-20 05:04] nitramko commented on #100
**Couldn't clone https://github.com/mfripp/atom-tablr.git**

[2022-07-13 08:38] christoph-LSN commented on #114
mee to....

[2022-09-20 05:17] anhkind commented on #114
I got exactly the same error code with Atom 1.60.0

[2022-11-04 02:12] #113 closed, assigned to nobody

[2022-11-15 01:04] droidguyg1 commented on #114
Same problem.  **A Blocker.**  MacOS Big Sur 11.7.1.  Atom 1.36.0.

[2022-11-17 14:21] emendir commented on #100
Thanks a tonne!

[2022-11-21 16:53] thebekhruz opened #115 "Uncaught TypeError: Cannot set property 'value' of undefined"
### Prerequisites

* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Reproduced the problem in Safe Mode: <https://flight-manual.atom.io/hacking-atom/sections/debugging/#using-safe-mode>
    * Followed all applicable steps in the debugging guide: <https://flight-manual.atom.io/hacking-atom/sections/debugging/>
    * Checked the FAQs on the message board